.js-form {
    width: 170px;
    font-size: 14px;
}

.js-button {
    background: rgb(38, 161, 161);
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    width: 60px;
    height: 20px;
}

.js-tipMessage {
    border: aqua solid 2px;
}

/* 
.js-counter {
    border: aqua solid 2px;

} */